/*footer*/
footer{
	overflow: hidden;
	text-align:center;
	background:#000;
	width:100%;
	/*height:540px;*/
	font-size:12px;
	/*max-width:1920px;*/
	margin:auto;
	padding-bottom:30px;
}
@media screen and (min-width:768px) and (max-width:1024px){
	footer{
		height:auto;
	}
}
@media screen and (max-width:767px){
	footer{
		height:auto;
	}
}
footer a{
	color:#b6b6b6;
}
footer p{
	color:#6c6c6c;
	font-size: 12px;
}
footer .footerMenu{
	padding:15px 0 14px;
}
@media screen and (min-width:320px) and (max-width:1024px){
	footer .footerMenu {
    	padding: 40px 0 14px;
	}
	
}
footer .footerMenu li{
	display:inline-block;
	border-right:1px solid #b6b6b6;
}
footer .footerMenu li:last-of-type{
	border-right:none;
}
footer .footerMenu li a{
	padding:0 16px;
}
@media screen and (min-width:320px) and (max-width:1024px){
	footer .footerMenu li a{
		padding:0 7px;
	}
}
footer .partners{
	width:80%;
	justify-content:center;
	-webkit-justify-content:center;
	-moz-justify-content:center;
	margin:60px auto 0;
	align-items:center
}
footer .partners>span{
	color: #6c6c6c;
	font-size: 18px;
	position: relative;
	z-index: 1000;
	background:#000;
}
footer .partners>hr{
	width: 100%;
	position: relative;
	top: -18px;
	z-index: 100;
	border-color: #6c6c6c;
	opacity:0.5;
}
footer .partners li{
	margin-top:-50px;
}
@media screen and (max-width:1024px){
	footer .partners{
		width:100%;
	}
	footer .partners li{
		margin:-40px 7px 0;
	}
	footer .partners{
		margin:55px auto 0;
	}
}
ul.footer-qr li {
    display: inline-block;
    margin: 62px 30px 40px;
    color:#b6b6b6;
    width:119px;
    vertical-align:top;
}
@media screen and (max-width:1024px){
	ul.footer-qr li{
		margin:30px 10px 10px;
		width: 15%;
	}
}
ul.footer-qr li img{
	width:80%;
}
ul.footer-qr li p{
	font-size:12px;
}
