
@media screen and (max-width: 1024px) and (min-width: 320px){
	header nav {
	    height: 140px;
	}
	header nav .title {
	    color: #fff;
	    text-align: left;
	    line-height: 138px;
	    padding: 0 52px;
	    font-size: 42px;
	}
	.navMore {
	    position: absolute;
	    right: 50px;
	    top: 65px;
	    width: 47px;
	}
	header nav ul.menu li{
	    margin: 0 52px;
	}
	header nav ul.menu li,
	header nav ul.menu li a{
	display:inherit;
	font-size: 37px;
	line-height: 104px;
	}
	.topbg{
		    background-attachment: inherit;
		    min-height: 935px;
	}
}